# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.sqlite3
*.db

# Environment variables
.env


# Uploads and outputs
backend/uploads/
backend/outputs/

# Models (ignore all model files)
backend/models/*



# Frontend
Frontend/*/node_modules/
Frontend/*/dist/
Frontend/report-dashboard/node_modules/
Frontend/report-dashboard/dist/

# IDE and OS specific
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
backend/models/automobile_insurance.joblib
backend/models/automobile_insurance.joblib
